<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" th:href="@{/favicon.png}" />

    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap-grid.css}" />
    <link rel="stylesheet" th:href="@{/vendor/fontawesome/css/all.css}" />
    <link rel="stylesheet" th:href="@{/app/app.css}" />


    <title th:text="'Expenses | ' + ${page_title}">Expenses</title>
</head>

<body>

<div class="navbar-fixed" th:fragment="nav(page)">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <span class="fa-stack fa-sm">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fas fa-pound-sign fa-stack-1x"></i>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend="${page == 'expense'} ? active">
                    <a class="nav-link" href="/">Expenses</a>
                </li>
                <li class="nav-item" th:classappend="${page == 'report'} ? active">
                    <a class="nav-link" href="/reports">Reports</a>
                </li>
            </ul>
            <a class="float-right" th:href="${page == 'settings'} ? '/' : '/settings'">
                <i th:class="@{(${page == 'settings'} ? 'fas fa-times' : 'fas fa-cog') + ' fa-lg text-light'}"></i>
            </a>
        </div>
    </nav>
</div>

<div th:fragment="scripts">
    <script th:src="@{/vendor/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/vendor/jquery/plugins/autoNumeric.js}"></script>
</div>

</body>
</html>