<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('settings')"></head>
<body>
<div th:replace="layout :: nav('settings')"></div>
<main role="main" class="container">
    <div>
        <h2>Settings</h2>
    </div>
    <form action="/settings/save" method="post">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Defaults</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" name="defaultCategoryId">
                                <option th:each="category : ${categories}" th:text="${category.name}"
                                        th:value="${category.id}"
                                        th:selected="${category.defaultCategory}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="client">Client</label>
                            <select class="form-control" id="client" name="defaultClientId">
                                <option th:each="client : ${clients}" th:text="${client.name}"
                                        th:value="${client.id}"
                                        th:selected="${client.defaultClient}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="currency">Currency</label>
                            <select class="form-control" id="currency" name="defaultCurrencyId">
                                <option th:each="currency : ${currencies}" th:text="${currency.currency}"
                                        th:value="${currency.id}"
                                        th:selected="${currency.defaultCurrency}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Report Currency</h4>
                <div class="form-row">
                    <div class="col-md-12">
                        <select class="form-control" id="reportCurrency" name="reportCurrencyId">
                            <option th:each="repCurr : ${currencies}" th:selected="${repCurr.id} == ${reportCurrency.id}"
                                    th:text="${repCurr.currency}"
                                    th:value="${repCurr.id}"></option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <div class="form-group float-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</main>
<div th:replace="layout :: scripts"></div>
</body>
</html>